In [7]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('teste_vertex.csv')
df.head(20)

    i_v  j_v  i_v_q
0     0    0   -3.0
1     0    1    3.0
2     0    2   -3.0
3     1    1   -3.0
4     1   30    3.0
5     1   59    3.0
6     2    1    0.0
7     2    2    0.0
8     2    3    0.0
9     2    4    0.0
10    2   30    0.0
11    2   32    0.0
12    3    3   -3.0
13    3    4    3.0
14    3    5   -3.0
15    4    4   -3.0
16    4   32    3.0
17    4   33    3.0
18    5    4    0.0
19    5    5    0.0

In [11]:
a = 2.388475
b = []
b.append(np.around(a, 1))
b

[2.4]

In [12]:
import pandas as pd
from main import VerticeAnalysis

config0 = pd.read_csv('dados/config0.csv')
x = config0.x.to_numpy()
y = config0.y.to_numpy()
mx = config0.mx.to_numpy()
my = config0.my.to_numpy()

model = VerticeAnalysis(x, y, mx, my)

kwargs = {
    'cmap': 'flatspin',
    'alpha': 1.,
}

0 0 -2.999999999999999 1
0 1 3.0000000000000053 1
0 2 -2.999999999999999 1
1 1 -3.0000000000000053 1
1 30 2.999999999999999 1
1 59 2.999999999999999 1
2 1 -0.0 1
2 2 0.0 1
2 3 0.0 1
2 4 0.0 1
2 30 -0.0 1
2 32 -0.0 1